@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Martian+Mono:wght@600&display=swap');

body {
    background-color: black;
    margin-top: 0%;

    font-family: 'Martian Mono', monospace;
    color: white;
    overflow: hidden;
    user-select: none;
    
    
}
a{
    text-decoration: none;
    color: white;
}
#Contact {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    height: 30vh;

}

#heading {
    color: white;
    width: auto;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    cursor: pointer;




}





@keyframes identifier {}






.heading h1 {

    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(50, end),
        blink-caret .75s step-end infinite;
}

#heading1 {
    position: absolute;
    top: 60vh;
    width: 100vw;
    opacity: 0;
    text-align: center;
    animation: fadeIn 1s 3.5s forwards;
    cursor: pointer;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

#heading1 h1 {
    font-size: 1em;
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}


@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

#menu {




    background: #00000065;


    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
   
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter:
            blur(5px); backdrop-filter:
        blur(5px);





}

#menu h2 {
    margin: 0%;
    text-shadow: 2px 2px 8px white;
    font-size: 2em;
    cursor: pointer;
}

.hide {

    opacity: 0;
    pointer-events: none;


}
#About{
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#Projects{
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
 a {
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
    
}
a:hover {
    font-size: 120%;
    
    color: gray;
    transition-duration: 0.5s;
}
#Contact{
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.zoomOut {

    animation: zoomOut 1s forwards;


}

@keyframes zoomOut {
    0% {}

    100% {
        scale: 1.1;
        opacity: 0;
        pointer-events: none;
        
    }


}

#navBack {

    position: fixed;
    top: 5%;
    right: 5%;


}
#menuButton {

    position: fixed;
    top: 5%;
    right: 10%;
    font-size: 3em;
    cursor: pointer;

}

.show {
    animation: show 1s ease-out forwards;
}

@keyframes show {
    100% {
        opacity: 1;
        scale: 1;
        pointer-events: all;
       


    }

    0% {
        opacity: 0;
        scale: 1.1;
       
        
    }

}